<div class="card">
  <div class="card-header" style="text-align: center">
    Book list
  </div>
  <div class="card-body">
    <label>There are {{count}} books</label>
    <button class="btn btn-success" style="float: right" routerLink="create">Add new book</button>
    <p style="margin-top: 20px" *ngIf="message" class="alert alert-success">{{message}}</p>
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books; index as i">
        <th scope="row">{{i + 1}}</th>
        <td><a routerLink="{{book.id}}/detail">{{book.title}}</a></td>
        <td>{{book.author}}</td>
        <td>{{book.description}}</td>
        <td width="200px">
          <button class="btn btn-success mr-2" routerLink="{{book.id}}/edit">Update</button>
          <button class="btn btn-danger" routerLink="{{book.id}}/delete">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
