<div class="card">
  <div class="card-header" style="text-align: center">
    Create new book
  </div>
  <form *ngIf="createForm" [formGroup]="createForm" (ngSubmit)="create()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" formControlName="author">
    </div>
    <div class="form-group">
      <label for="description">Description</label><br>
      <textarea id="description" rows="4" style="width: 100%" formControlName="description"></textarea>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-2"><button type="submit" [disabled]="createForm.invalid" class="btn btn-success m-1">Submit</button></div>
      <div class="col-6"> <button class="btn btn-success m-1 " routerLink="../">Back</button></div>
    </div>
  </form>
</div>


